// .modal1{
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	background: rgba(0,0,0,0.5);
// 	transition: all 500ms ease;
// 	opacity: 0;
// 	visibility: hidden;
// }
// #btn-modal:checked ~ .modal{
// 	opacity: 1;
// 	visibility: visible;
// } 
// .contenedor{
// 	width: 600px;
// 	height: 380px;
// 	margin: auto;
// 	background: #fff;
// 	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
// 	transition: all 500ms ease;
// 	position: relative;
// 	transform: translateY(-30%);
// }

// ._interno{
// 	display:flex;
// 	flex-direction:column;
// 	align-items: center;
// 	margin-left: 10px;
// 	justify-content: space-between;
// }

// ._interno_gral{
// 	padding-top: 20px;
// 	display: flex;
// }

// #btn-modal:checked ~ .modal .contenedor{
// 	transform: translateY(0%);
// } 

// .contenedor header{
// 	padding: 10px;
// 	background: #12215f;
// 	color: #fff;
// }

// .contenido{
// 	width: 100%;
// 	padding: 10px; 
// }

// #btn-modal1{
// 	display: none;
// }
// .lbl-modal1{
// 	background: #fff;
// 	padding: 10px 15px;
// 	border-radius: 4px;
// 	cursor: pointer;
// }

// .boton_ver_mas{
// 	background:#12215f; 
// 	color:white;
// 	border-radius: 38px;
// 	width: 150px;
// 	height: 40px;
// 	font-size: medium;
// 	font-family:sans-serif;
// 	font-weight: 500;
// }

// .boton_ver_mas:hover{
// 	background: #0b153d;
// 	cursor: pointer;

// }
// @media only screen and (min-width:320px) and (max-width:768px){
// 	.contenedor{
// 		width: 95%;
// 	}
// }

.modal1{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal1{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal1:hover ~ .modal1{
	opacity: 1;
	visibility: visible;
} 
.contenedor1{
	width: 400px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal1:hover ~ .modal1 .contenedor1{
	transform: translateY(0%);
} 
.contenedor1 header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor1 label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido1{
	width: 100%;
	padding: 10px; 
}
.contenido1 h3{
	margin-bottom: 10px;
}
.contenido1 p{
	margin-bottom: 7px;
}
#btn-modal1{
	display: none;
}
.lbl-modal1{
	background: rgb(123, 23, 23);
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}













