// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/listaDePrecios";
@import "./pages/productos";
@import "./pages/contacto";

* {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

a {
  text-decoration: none;
  color: #000000;
}

.bodyCompleto {
  background: #f0f2f0;
  background: -webkit-linear-gradient(to bottom, #f0f2f0, #000c40);
  background: linear-gradient(to bottom, #f0f2f0, #000c40);
}

ul,
ol {
  list-style: none;
}

/* logo whatsapp */
.fixed {
  position: fixed;
  bottom: 40px;
  right: 20px;
  img {
    width: 40px;
  }
}

.main__header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(240, 242, 240, 1) 50%
  );
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  &__logo__empresa {
    padding: 15px 15px;
    img {
      width: 100%;
    }
  }
  &__nav {
    a {
      color: #000c40;
      font-size: 1.2rem;
      font-weight: bold;
      padding-left: 10px;
    }
  }
}

.footer {
  text-align: center;
  background-color: #000a36;
  color: white;
  width: 100vw;
  bottom: 0px;
  padding-top: 10px;
  img {
    padding-top: 10px;
  }
  &__contacto_footer {
    h5 {
      font-size: medium;
      color: rgb(159, 158, 158);
    }
    h6 {
      font-size: small;
      color: grey;
    }
    #direccion:hover {
      color: white;
    }
  }
  h7 {
    font-size: small;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  /* logo whatsapp */
  .fixed {
    position: fixed;
    bottom: 60px;
    right: 40px;
    img {
      width: 50px;
    }
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  /* style del header */
  .main__header {
    display: grid;
    position: fixed;
    z-index: 1;
    grid-template-columns: 500px auto;
    justify-content: space-around;
    align-items: center;
    &__nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: end;
      align-items: flex-end;
      height: 110px;
      gap: 0 20px;
      :hover {
        color: #939396;
      }
    }
  }

  .main_product_images img {
    width: 1170px;
  }

  /* En general para font size y padding se usa rem o em que es mas responsive */
}
