// Include any default variable overrides here (though functions won't be available)
$footer: #000a36;
$Primary: #3B71CA;
$Secondary: #9FA6B2;
$Success:#14A44D;
$Danger:#DC4C64;
$Warning: #E4A11B;
$Info: #54B4D3;
$Light:#FBFBFB;
$Dark: #332D2D;


$theme_colors: (
  "footerBg": $footer,
  "primary": $Primary,
  "secondary": $Secondary,
  "success":$Success,
  "danger":$Danger,
  "warning":$Warning,
  "info": $Info,
  "light": $Light,
  "dark": $Dark,
);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "./complements/mixins";
@import "./components/_body";
@import "./components/_whatsappIco";
@import "./components/footer";
@import "./components/header";
@import "./components/parallax";
@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/listaDePrecios";
@import "./pages/productos";
@import "./pages/contacto";

