.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}
.map iframe {
  width: 350px;
  height: 300px;
  padding: 35px 0px;
}
.contact__form {
  textarea {
    width: 230px;
    height: 180px;
  }
  input {
    width: 230px;
  }
  #image {
    width: 100px;
  }
  #__asterisco {
    color: red;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  .map iframe {
    width: 600px;
    height: 450px;
    padding-top: 40px;
  }

  .contact_us{
    justify-content: center;
    align-items: center;
    &_form{
      width: 70%;
    }
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  /* CSS DE CONTACTO */
  .contact_us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &_form{
      width: 30%;
      padding: 50px 50px 50px 50px;
    }
  }

  .map iframe {
    width: 600px;
    height: 450px;
    @include box-shadow (3);
    padding: 0;
  }
}
