.main {
  &_principal_our {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__image img {
      padding-top: 10px;
      width: 330px;
      padding-bottom: 10px;
    }

    &__video__fabricacion iframe {
      width: 330px;
      height: 333px;
    }
  }
}

.main_principal {
  &_carrusel {
    width: 370px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

  .cards_slider{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 0 10px 20px 10px;
    border-radius: 40px 0 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid #4070F4;
    }
  }
  .image-content{
    position: relative;
    row-gap: 5px;
  }
  .description{
  text-align: center;
  }
  .button{
    border: none;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    :hover{
      background: #265DF2;
    }
  }
  .overlay{
    position: absolute;
    height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     background-color: #1c53ed;
     border-radius: 25px 25px 0 25px;
  }
  
  .swiper-navBtn:hover{
    color: #000a36;
  }

@media screen and (max-width:768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  .main {
    &_principal_our {
      &__image img {
        padding-top: 10px;
        width: 750px;
        padding-bottom: 10px;
      }
      &__video__fabricacion iframe {
        width: 750px;
        height: 333px;
      }
    }
  }

  .main_principal {
    &_carrusel {
      width: 800px;
    }
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  /* CSS DE INDEX */
  .main_principal {
    &_carrusel {
      grid-area: carrusel;
      width: 1150px;
      justify-self: center;
      align-self: end;
      padding-right: 50px;
      padding-top: 50px;
    }
    &_our {
      display: grid;
      grid-template-areas:
        "carrusel carrusel"
        "main_img_nosotros main_video";
      grid-template-rows: 1fr 0.5fr;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      justify-content: center;
      align-items: flex-start;

      &__image {
        grid-area: main_img_nosotros;
        justify-self: end;
        @include box_shadow(1);
        align-self: center;
        img {
          width: 600px;
          padding: 0;
        }
      }

      &__video__fabricacion {
        grid-area: main_video;
        align-self: center;
        padding-top: 8px;
        iframe {
          width: 560px;
          @include box_shadow(1);
          padding: 0;
        }
      }
    }
  }
}