.main {
  &_principal_our {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__image img {
      padding-top: 10px;
      width: 330px;
      padding-bottom: 10px;
    }

    &__video__fabricacion iframe {
      width: 330px;
      height: 333px;
    }
  }
}

.main_principal {
  &_carrusel {
    width: 370px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  .main {
    &_principal_our {
      &__image img {
        padding-top: 10px;
        width: 750px;
        padding-bottom: 10px;
      }
      &__video__fabricacion iframe {
        width: 750px;
        height: 333px;
      }
    }
  }

  .main_principal {
    &_carrusel {
      width: 800px;
    }
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  /* CSS DE INDEX */
  .main_principal {
    color: white;
    &_carrusel {
      grid-area: carrusel;
      width: 1150px;
      justify-self: center;
      align-self: end;
      padding-right: 50px;
      padding-top: 50px;
    }
    &_our {
      display: grid;
      grid-template-areas:
        "carrusel carrusel"
        "main_img_nosotros main_video";
      grid-template-rows: 1fr 0.5fr;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      justify-content: center;
      align-items: flex-start;

      &__image {
        grid-area: main_img_nosotros;
        justify-self: end;
        @include box_shadow(1);
        align-self: center;
        img {
          width: 600px;
          padding: 0;
        }
      }

      &__video__fabricacion {
        grid-area: main_video;
        align-self: center;
        padding-top: 8px;
        iframe {
          width: 560px;
          @include box_shadow(1);
          padding: 0;
        }
      }
    }
  }

  .card_wrapper{
    padding-bottom: 50px;
  }
  .seccion_cards2{
    display: flex;
    padding: 10px 15px 10px 15px;
    background-color: rgb(224, 220, 220);
    border-radius: 20px;
    height: 350px;
  }

  #card_index{
    margin: 15px;
    width: 300px;
    img{
      padding: 10px;
      width: auto;
      height: 180px;
      border-radius: 20px;
    }
    #titulo{
        font-size: 30px;
        color: black;
        text-align: center;
      }
    #cuerpo_body{
      a{
        color: black;
      }
    }
      }

  .card_body{
    #boton_card{
      color: black;
    }
  }

  #boton_card{
    margin-left: 38px;
}
}

