.products {
  padding-left: 20px;
}

.card {
  @include box_shadow(2);
  width: 230px;
}
.card-img-top {
  height: 220px;
}

@media (min-width: 768px) {
  .products {
    padding-left: 100px;
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  // /* CSS DE PRODUCTOS *
  .products {
    padding-left: 50px;
  }

  #card_productos:hover {
    transform: scale(1.05);
    transition: all 1s;
  }
}
