.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    padding: 10px;
    width: 300px;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  .products {
    display: grid;
    grid-template-areas:
      "products__1 products__2"
      "products__3 products__4"
      "products__5 products__6"
      "products__7 products__8"
      "products__9 products__10";
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  /* CSS DE PRODUCTOS */
  .products {
    display: grid;
    grid-template-areas:
      "products__1 products__2 products__3 products__4 products__5"
      "products__6 products__7 products__8 products__9 products__10";
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: repeat(5, 1fr);
    padding: 200px 100px 100px 50px;
    gap: 15px;
    align-items: center;
    justify-items: center;
    img {
      width: 250px;
    }
    img:hover {
      transform: scale(1.2);
      transition: all 1s;
    }
    &__1 {
      grid-area: products__1;
      img {
        width: 190px;
      }
    }
    &__2 {
      grid-area: products__2;
    }
    &__3 {
      grid-area: products__8;
      img {
        width: 220px;
      }
    }
    &__4 {
      grid-area: products__4;
    }
    &__5 {
      grid-area: products__5;
    }
    &__6 {
      grid-area: products__6;
    }
    &__7 {
      grid-area: products__7;
    }
    &__8 {
      grid-area: products__3;
      img {
        width: 200px;
      }
    }
    &__9 {
      grid-area: products__9;
    }
    &__10 {
      grid-area: products__10;
    }
  }
}
