/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {
  // /* CSS DE PRODUCTOS *

  .card:hover {
      transform: scale(1.05);
      transition: all 1s;
      }
      &.card-img-top{
        height: 250px;
      }
}
