
* {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif !important;
    // overflow-x:hidden;
  }
  
  .main{
    padding-top: 150px;
  }
  .bodyCompleto {
    background: #f0f2f0;
    background: -webkit-linear-gradient(to bottom, #f0f2f0, #000c40);
    background: linear-gradient(to bottom, #f0f2f0, #000c40);
  }
  