* {
  margin: 0;
  font-family: sans-serif;
}

.p1 {
  font-family: 'Arial';
}

.main {
  padding-top: 150px;
}
.bodyCompleto {
  background: #f0f2f0;
  background: -webkit-linear-gradient(to bottom, #f0f2f0, #000c40);
  background: linear-gradient(to bottom, #f0f2f0, #000c40);
}
