.main__header {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(240, 242, 240, 1) 50%
    );
    padding: 0px 15px 0px 15px;
    }
  
  .navbar-brand{
    img{
      width: 320px;
    }
  }
  /* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
    
.navbar-brand{
    img{
      width: 450px;
    }
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px) {

    /* En general para font size y padding se usa rem o em que es mas responsive */
  
    .main__header {
      padding: 0px 200px 0px 100px;
      text-decoration: solid;
      font-size:medium;
    }
    .navbar-nav{
      padding-top: 100px;
    }
    }
    
  