/* logo whatsapp */
.fixed {
  position: fixed;
  bottom: 40px;
  right: 20px;
  img {
    width: 40px;
  }
  z-index: 2;
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 768px) {
  /* logo whatsapp */
  .fixed {
    position: fixed;
    bottom: 60px;
    right: 40px;
    img {
      width: 50px;
    }
  }
}
